body {
  min-height: 2000px;
  padding-top: 70px;
  background-color: #404040;
}

.container {
  text-align: center;
}

h1 {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  text-align: center;
}

img {
   width: 50%;
   max-width: 500px;
}
